// @import "*";

body {
  background-color: #494956;
}

.side-bar {
  width: 20%;
  height: 540px;
  background-color: #17171c;
  color: #eff0ff;
}

.page-container {
  display: flex;
}

.game-display {
  width: 75%;
}

.even-row .even-square {
  background-color: #955959;
}

.even-row .odd-square {
  background-color: #eed3d3;
}

.odd-row .even-square {
  background-color: #eed3d3;
}

.odd-row .odd-square {
  background-color: #955959;
}

.selected {
  background-color: #c64a39 !important;
}

.row {
  margin: auto;
  display: flex;
  height: 60px;
  width: 540px;
}

.mini-row {
  margin: auto;
  display: flex;
  height: 15px;
  width: 135px;
}

.square {
  display: inline-block;
  height: 60px;
  width: 60px;
  border: 1px solid black;
  font-size: 2em;
  text-align: center;
  line-height: 60px;
}

.mini-square {
  display: inline-block;
  height: 15px;
  width: 15px;
  border: 1px solid black;
  font-size: .5em;
  text-align: center;
  line-height: 15px;
}

.label-square {
  height: 60px;
  width: 60px;
  text-align: center;
  line-height: 60px;
  font-size: 1.5em;
  color: #eff0ff;
}

.board-with-labels {
  width: 65%;
  display: inline-block;
  height: 540px;
  margin: 0px 22px;
}

.move-message {
  text-align: center;
  font-size: 1.5em;
  color: #eff0ff;
}

.captured-box {
  float: right;
  width: 30%;
  height: 540px;
  display: inline-block;
  font-size: 2em;
}

.side-captured-box {
  height: 270px;
  border: 1px solid black;
  background-color: #eff0ff;
}

.side-piece-captured-box {
  width: 100%;
  height: 19%;
}

.title {
  text-align: center;
  font-size: 1em;
}

.games-index {
  width: 75%;
}

.game-tiles {
  width: 100%;
}

.game-tile {
  width: 200px;
  margin: 50px;
  padding: 20px;
}
